body{
    background: #d7d7d7d7;
    color: black;
}

.dark-mode {
    background: black;
    color: rgb(0, 0, 0);
}

.dark-mode .form {
    background: #d7d7d7d7;
}

.dark-mode .form input {
    outline: 10;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 20px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
    text-align: center;
}

.dark-mode .form input[type="button"] {
    outline: 0;
    background-color: #657fa1;
    width: 100%;
    border: 0;
    padding: 15px;
    font-size: 15px;
}

.dark-mode .form input[type=submit] {
    text-transform: uppercase;
    outline: 0;
    background-color: #304c6f;
    width: fit-content;
    border: 0;
    padding: 15px;
    font-size: 10px;
}

.dark-mode .form input[type=submit]:hover {
    background-color: #203b5e;
}

.form {
    font-family: "Roboto", sans-serif;
    position:relative;
    background: #FFFFFF;
    max-width: 600px;
    margin: auto auto auto;
    padding: 50px;
    text-align: center;
    box-shadow: 0 0 20px 0 grey;
    font-style: arial;
}

.form input {
    outline: 10;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 20px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
    text-align: center;
}
.form input[type="button"] {
    outline: 0;
    background-color: #81a4d1e4;
    width: 100%;
    border: 0;
    padding: 15px;
    font-size: 15px;
}

.form input[type=submit] {
    text-transform: uppercase;
    outline: 0;
    background-color: #3a5b83;
    width: fit-content;
    border: 0;
    padding: 15px;
    font-size: 10px;
}

.form input[type=submit]:hover {
    background-color: #234064;
}

.userManagement .body, .permissionManagement .body, .backupManagement .body {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.table {
    border: solid 1px #e2e5ff;
    border-collapse: separate;
    border-spacing: 10;
    font: normal 13px Arial, sans-serif;
}

.table thead th {
    border: solid 1px #e2e5ff;
    border-collapse: separate;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
}

.table tbody td {
    border: solid 1px #e2e5ff;
    border-collapse: separate;
    padding: 10px;
}